@if (game$ | async; as game) {
<div class="game-container">
    <div class="game-header">
        <img
            [src]="game.image_url"
            [alt]="game.name">
        <div class="game-info">
            <h1>{{ game.name }}</h1>
            <p><strong>📅 Ano:</strong> {{ game.year }}</p>
            <p><strong>🏆 Ranking:</strong> #{{ game.rank }}</p>
            <p><strong>⭐ Rating:</strong> {{ game.rating }}</p>
            <p><strong>⚖️ Complexidade:</strong> {{ game.weight }}</p>
        </div>
    </div>
    <h2>Preços</h2>
    @if (prices$ | async; as prices) {
    <table>
        <thead>
            <tr>
                <th>Loja</th>
                <th>Preço</th>
                <th>Stock</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            @for (price of prices; track price.id_price) {
            <tr>
                <td>{{ price.store }}</td>
                <td>{{ price.price }} €</td>
                <td>{{ price.stock }}</td>
                <td>{{ price.date | date:'dd/MM/yyyy' }}</td>
            </tr>
            }
        </tbody>
    </table>
    }
</div>

}